body {
  margin: 0;
  padding: 0;
}

.bannerImage {
  position: absolute;
  object-position: bottom;
  background-image: url("./assets/backgroundImage-home.jpg");
  object-position: left;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar-nav .dropdown-menu {
  margin-top: 34px !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #1B2C33 !important;
}

.navbar-brand {
  color: #fff;
  font-size: 1.8rem;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
}

.nav-link:hover {
  color: lightblue;
  font-size: 1rem;
}